/* your styles go here */
.top-navigation {
  background: #061c4c;
  border-bottom: solid .1em red;
}

.site-header {
  border-top: solid 1em #061c4c;
}
body {
  background: none;
}

.schoolimage {
  width: 6vw;
  border-bottom: 1em;
}

.opaque {
  opacity: 1; 
}
.sitetitle {
  height: 6vw;
  text-align: right;
  font-family: Helvetica;
}
