/* your styles go here */
.top-navigation {
  background: #061c4c;
  border-bottom: solid .1em red;
}

.site-header {
  border-top: solid 1em #061c4c;
}
body {
  background: none;
}

.big-heading {
  font-size: 30px;
  font-family: Helvetica, arial, sans-serif;
  font-weight: bold;
}

.schoolimage {
  width: 10vh;
  margin-bottom: 1em;
}

.opaque {
  opacity: 1 !important;
}

p img {
  max-width: 100%;
}

li img {
  max-width: 100%; 
}
