/* your styles go here */
.top-navigation {
  background: #061c4c;
  border-bottom: solid .1em red;
}

.site-header {
  border-top: solid 1em #061c4c;
}
body {
  background: none;
}

.schoolimage {
  width: 2vw;
  margin-bottom: 2vh;
}
