{{ define "main" }}

<div class="col-md-12 entry">
  <div class="row">
    <div class="col-md-12">
      <div class="entry-meta">
        {{ .Date.Format "January 02" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="entry-header">
       {{ .Title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <div class="entry-content">
        {{ .Content }}
      </div>
    </div>
  </div>

  <hr/>
  {{ template "_internal/disqus.html" . }}

</div>
{{ end }}
