<div class="row">
  <div class="col-sm-6">
    <div class="categories-block">
      <a href="/"><img class="schoolimage" src="https://pbs.twimg.com/profile_images/653934017226608640/M2p9Pqvg.png"></a>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="social-media-block">

      {{ with .Site.Params.social.googleplus }}
      <a href="{{ . }}" data-animate-hover="pulse" class="external gplus">
        <i class="fa fa-google-plus"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.twitter }}
      <a href="{{ . }}" data-animate-hover="pulse" class="external twitter">
        <i class="fa fa-twitter"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.instagram }}
      <a href="{{ . }}" title="" class="external instagram">
        <i class="fa fa-instagram"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.email }}
      <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.linkedin }}
      <a href="{{ . }}" data-animate-hover="pulse">
        <i class="fa fa-linkedin"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.stackoverflow }}
      <a href="{{ . }}" data-animate-hover="pulse">
        <i class="fa fa-stack-overflow"></i>
      </a>
      {{end}}
      {{ with .Site.Params.social.github }}
      <a href="{{ . }}" data-animate-hover="pulse">
        <i class="fa fa-github"></i>
      </a>
      {{end}}

    </div>
  </div>
</div>
